/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #261c1e;
    --bg-taskbox-color: #403033;
    --button-color: #a65c68;
    --button-hover-color: #8c4a58;
    --text-color: #f5f0f0;
    --title-color: #d9b8c4;
    --border-color: #d9b8c4;
    --completed-task-color: #810000;
}

/* Configuração do corpo */
body {
    margin: 2em;
    padding: 2em;
    color: var(--text-color);
    background: var(--primary-color);
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

/* Títulos */
h2 {
    margin: 1em 0;
    color: var(--title-color);
}

/* Entrada de tarefas */
.task-input {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    gap: 10px;
}

.task-input input {
    background: var(--bg-taskbox-color);
    color: var(--text-color);
    font-style: italic;
    border: solid var(--border-color) 0.1em;
    min-width: 16em;
    height: 2.5em;
    font-size: 1em;
    font-weight: 700;
    padding: 0 10px;
    border-radius: 6px;
}

.task-input button {
    background: var(--button-color);
    color: var(--text-color);
    border: none;
    padding: 8px 12px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.task-input button:hover {
    background: var(--button-hover-color);
}

/* Caixa de tarefas */
.task-box {
    margin-top: 1.5em;
    padding: 16px;
    background: var(--bg-taskbox-color);
    border-radius: 10px;
}

/* Estilos das tarefas */
.task-item {
    background: var(--title-color);
    color: var(--primary-color);
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.3s ease-in-out;
}

.task-item p {
    color: var(--primary-color);
    font-style: italic;
    font-weight: 500;
    padding: 5px;
    margin: 6px;
    min-width: 8em;
}

/* Botões das tarefas */
.task-item button {
    background: transparent;
    color: var(--button-color);
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.task-item button:hover {
    color: var(--button-hover-color);
}

/* Ícones */
.task-item i {
    margin: 0 10px;
    font-size: 1.2em;
}

/* Checkbox e rótulos */
label {
    display: flex;
    align-items: center;
    gap: 0.5em;
    cursor: pointer;
}

/* Tarefa concluída */
.complete {
    text-decoration: line-through solid var(--completed-task-color) 2px;
    opacity: 0.6;
}
